/*//// VARIABLES ////*/
$color-cyan-strong: hsl(171, 66%, 44%);
$color-blue-light: hsl(233, 100%, 69%);
$color-blue-grayish-dark: hsl(210, 10%, 33%);
$color-blue-grayish: hsl(201, 11%, 66%);
$color-white: hsl(0, 0, 100%);

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
}

/* Atribution */
.attribution {
    font-size: 11px;
    text-align: center;

    & a {
        color: hsl(228, 45%, 44%);
    }
}

/* WEBSITE */

html {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 18px;
}
body {
    font-size: 0.9em;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template: auto / 1fr 330px 1fr;
    background-image: url(/images/bg-header-mobile.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

/*//// MOBILE LAYOUT & STYLING ////*/

.header {
    margin-top: 6rem;
    grid-area: 1/2;
    display: grid;
    justify-items: center;

    &__logo {
        max-width: 125px;
    }
    &__title {
        margin-top: 4rem;
        color: $color-blue-grayish-dark;
    }
    &__text {
        color: $color-blue-grayish;
        margin-bottom: 3rem;
        line-height: 2.5ch;
    }
    &__btn-iOS {
        background-color: $color-cyan-strong;
        margin-bottom: 1rem;
        box-shadow: hsl(171, 66%, 38%) 0px 3px 0;
    }
    &__btn-Mac {
        background-color: $color-blue-light;
        box-shadow: hsl(233, 100%, 63%) 0px 3px 0;
    }
}
.main {
    grid-area: 2/2;
    margin-top: 6rem;

    &__title {
        width: 70%;
        margin-inline: auto;
    }
    &__text:first-of-type {
        margin-bottom: 3rem;
    }
    &__text {
        width: 90%;
        margin-inline: auto;
        line-height: 1.5;
        margin-bottom: 2rem;
    }
}

@mixin section-padding($basic-padding: 2em 0 1em 0) {
    padding: $basic-padding;
}

.section {
    @include section-padding;

    &-two {
        @include section-padding($basic-padding: 2em 0 3em 0);
    }
    &-three {
        @include section-padding($basic-padding: 2em 0 1em 0);
    }
    &-four {
        @include section-padding($basic-padding: 3em 0 1em 0);
    }
}

.blacklist-icon:before,
.text-icon:before,
.eye-icon:before {
    display: block;
    padding-bottom: 2em;
}
.blacklist-icon:before {
    content: url(/images/icon-blacklist.svg);
}
.text-icon:before {
    content: url(/images/icon-text.svg);
}
.eye-icon:before {
    content: url(/images/icon-preview.svg);
}

.brand-logo {
    width: 50%;
    margin: 4rem auto;
}

.gallery-logo {
    padding: 2em 0;
}

.footer {
    grid-area: 3/1/4/4;
    background-color: #f5f6f8;
    padding-inline: 1.25rem;
    margin-top: 7rem;

    &__u-List {
        list-style-type: none;
        padding: 0;
    }
    &__logo {
        padding: 3em 0;
        max-width: 65px;
        margin-inline: auto;
    }
    &__list-item {
        padding-bottom: 2em;
        font-size: 1.1rem;
    }
}

/*//// UTILITY ////*/

.button {
    width: 80%;
    color: $color-white;
    border: none;
    border-radius: 50px;
    padding: 1em 3em;
    letter-spacing: 0.25ch;
}

.center-text {
    text-align: center;
}

.title--color {
    color: $color-blue-grayish-dark;
}
.paragraph--color {
    color: $color-blue-grayish;
}
.social-icon {
    width: 10%;
    display: inline-block;
}
.social-icon {
    margin-inline: 1rem;
}
.cursor {
    cursor: pointer;
}
