/*//// VARIABLES ////*/
$color-cyan-strong: hsl(171, 66%, 44%);
$color-blue-light: hsl(233, 100%, 69%);
$color-blue-grayish-dark: hsl(210, 10%, 33%);
$color-blue-grayish: hsl(201, 11%, 66%);
$color-white: hsl(0, 0, 100%);

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
}

/* Atribution */
.attribution {
    font-size: 11px;
    text-align: center;

    & a {
        color: hsl(228, 45%, 44%);
    }
}

/* WEBSITE */

html {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 18px;
}
body {
    font-size: 0.9em;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template: auto / 1fr 330px 1fr;
    background-image: url(/images/bg-header-mobile.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

/*//// MOBILE LAYOUT & STYLING ////*/

.header {
    margin-top: 6rem;
    grid-area: 1/2;
    display: grid;
    justify-items: center;

    &__logo {
        max-width: 125px;
    }
    &__title {
        margin-top: 4rem;
        color: $color-blue-grayish-dark;
        margin-inline: auto;
    }
    &__text {
        color: $color-blue-grayish;
        margin-bottom: 3rem;
        line-height: 2.5ch;
        margin-inline: auto;
    }
    &__btn-iOS {
        background-color: $color-cyan-strong;
        margin-bottom: 1rem;
        box-shadow: hsl(171, 66%, 38%) 0px 3px 0;
    }
    &__btn-Mac {
        background-color: $color-blue-light;
        box-shadow: hsl(233, 100%, 63%) 0px 3px 0;
    }
}
.main {
    grid-area: 2/2;
    margin-top: 6rem;

    &__title {
        width: 70%;
        margin-inline: auto;
    }
    &__text:first-of-type {
        margin-bottom: 3rem;
    }
    &__text {
        width: 90%;
        margin-inline: auto;
        line-height: 1.5;
        margin-bottom: 2rem;
    }
}

@mixin section-padding($basic-padding: 2em 0 1em 0) {
    padding: $basic-padding;
}

.section {
    @include section-padding;

    &-two {
        @include section-padding($basic-padding: 2em 0 3em 0);
    }
    &-three {
        @include section-padding($basic-padding: 2em 0 1em 0);
    }
    &-four {
        @include section-padding($basic-padding: 3em 0 1em 0);
    }
    &-five {
    }
}

.blacklist-icon:before,
.text-icon:before,
.eye-icon:before {
    display: block;
    padding-bottom: 2rem;
    max-height: 3.5em;
}
.blacklist-icon:before {
    content: url(/images/icon-blacklist.svg);
}
.text-icon:before {
    content: url(/images/icon-text.svg);
}
.eye-icon:before {
    content: url(/images/icon-preview.svg);
}

.brand-logo {
    width: 50%;
    margin: 4rem auto;
}

.gallery-logo {
    padding: 2em 0;
}

.footer {
    grid-area: 3/1/4/4;
    background-color: #f5f6f8;
    padding-inline: 1.25rem;
    margin-top: 7rem;

    &__u-List {
        list-style-type: none;
        padding: 0;
    }
    &__logo {
        padding: 3em 0;
        max-width: 65px;
        margin-inline: auto;
    }
    &__list-item {
        padding-bottom: 2em;
        font-size: 1.1rem;
    }
}

/*//// UTILITY ////*/

.button {
    width: 80%;
    color: $color-white;
    border: none;
    border-radius: 50px;
    padding: 1em 3em;
    letter-spacing: 0.25ch;
}

.center-text {
    text-align: center;
}

.title--color {
    color: $color-blue-grayish-dark;
}
.paragraph--color {
    color: $color-blue-grayish;
}
.social-icon {
    width: 10%;
    display: inline-block;
    margin-inline: 1rem;
}

.cursor {
    cursor: pointer;
}

@media screen and (min-width: 1000px) {
    body {
        grid-template: auto / 1fr 1440px 1fr;
        background-image: url(/images/bg-header-desktop.png);
        font-size: 1em;
    }
    .header__title {
        max-width: 60%;
    }
    .header__text,
    .main__text {
        max-width: 90%;
    }
    .main {
        display: grid;
        grid-template: auto / repeat(5, 1fr);
        overflow: hidden;
    }

    .image__monitor-sea-tick {
        grid-area: 2/1/3/4;
        position: relative;
        left: -4.5em;
    }

    .section {
        &-one {
            grid-area: 1/2/2/5;
            @include section-padding($basic-padding: 2em 0 3em 0);
        }
        &-two {
            grid-area: 2 / 4 / 3 / 6;
            text-align: left;
        }
        &-three {
            @include section-padding($basic-padding: 7em 0 1em 0);
            grid-area: 3 / 2 / 4/ 5;
        }
        &-four {
            grid-area: 5 / 2 / 6 / 5;
        }
        &-five {
            grid-area: 8 / 2 / 9 / 5;
        }
        &__item > h2 {
            margin-inline: 1em;
        }
    }

    .image__mobile-devices {
        grid-area: 4 / 2 / 5 / 5;
    }

    .element {
        display: flex;
        flex-direction: column;

        &__blacklists {
            grid-area: 6 / 2;
        }
        &__snippets {
            grid-area: 6 / 3;
        }
        &__preview {
            grid-area: 6 / 4;
        }
    }

    .gallery-logo {
        grid-area: 7/1/8/6;
        display: flex;
        align-items: center;
        gap: 5em;
        padding-inline: 8em;
    }

    .button {
        width: unset;
    }

    .button__wrapper {
        display: flex;
        align-items: baseline;
        gap: 2em;
        justify-content: center;
    }

    .footer {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        &__list-item {
            font-size: 0.8rem;
            padding: 0;
        }
        &__list-item:hover {
            color: $color-cyan-strong;
        }
        &__u-List {
            display: grid;
            grid-template: repeat(2, 0.25fr) / 1fr repeat(3, 0.75fr);
            gap: 0 0.5em;
            align-items: center;
        }
        &__logo {
            grid-area: 1/1/3/2;
            align-self: center;
            margin-right: 5rem;
        }
        .social {
            align-self: center;
        }
        .social-icon {
            width: auto;
        }
        .social-icon path:hover {
            fill: #26baa4;
        }

        .attribution {
            width: 100%;
            padding: 0 0 2em 0;
        }
    }
}
